header {

    background-color: #1E90FF;
    padding-bottom: 2.5%;
    display: flex;
    justify-content: center;
    color: white;
}


header, h1{

    position: relative;
    top: 3px;
}

.search-for-a-city {

    margin-top: 2.5%;
}

#searchBtn{

    padding-right: 25%;
   
}

.present-conditions {

    margin-left: 5%;
    border: 2px solid black;
    width: 70%;
    margin-top: 2.5%;
}

#input-txt{

    margin-bottom: 8px;
}

#C {

    margin-bottom: 1px; 
}

.storedCities{

    padding-right: 4%;
    border: 2px solid black;
}

.city-list{

    
}


.Five-day-forecast{

    margin-left: 2.2%;
    margin-top: 2.5%;
    padding-bottom: 20%;
    padding-right: 45%;
}

.future-conditions, h3{

    position: relative;
    left: 4%;
    display: flex;
    flex-direction: row;
}

.container-1 {

    display: flex;
    flex-direction: row;
}

.container-2 {

    display: flex;
    flex-direction: row;
}

